<div class="bg-red-100 py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-lg px-4 md:px-8 mx-auto">
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6">Choose a Plan</h2>

      <!-- <p class="max-w-screen-md text-gray-500 md:text-lg text-center mx-auto">This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text but is random or otherwise generated.</p> -->
    </div>
    <!-- text - end -->

    <div class="flex flex-wrap justify-center items-center gap-4 sm:gap-0">
      <!-- left side - start -->
      <div class="w-full sm:w-1/2 lg:w-1/3 bg-white shadow rounded-lg sm:rounded-r-none p-6 sm:p-8">
        <div class="mb-4">
          <h3 class="text-secondary-text text-2xl sm:text-3xl font-semibold">Basic</h3>
          <!-- <p class="text-gray-300">Ebook</p> -->
        </div>

        <div class="space-x-2 mb-4">
          <span class="text-4xl font-bold">$0</span>
          <!-- <span class="text-gray-300 text-2xl line-through">$0</span> -->
        </div>

        <ul class="text-secondary-text space-y-2 mb-6">
          <!-- feat - start -->
          <li class="flex items-center gap-1.5">
            <ion-icon
              style="--ionicon-stroke-width: 16px"
              class="text-secondary-text"
              name="checkmark-outline"
            ></ion-icon>

            <span>Free Invoice</span>
          </li>
          <!-- feat - end -->

          <!-- feat - start -->

          <!-- feat - end -->

          <!-- feat - start -->
        </ul>

        <a
          routerLink="/invoice-generator"
          class="
            block
            bg-gray-500
            hover:bg-gray-600
            focus-visible:ring
            ring-indigo-300
            text-gray-100
            active:text-gray-300
            text-sm
            md:text-base
            font-semibold
            text-center
            rounded-lg
            outline-none
            transition
            duration-100
            px-8
            py-3
          "
          >Free Invoice Generator</a
        >
      </div>
      <!-- left side - end -->

      <!-- right side - start -->
      <div class="w-full sm:w-1/2 bg-gradient-to-tr from-green to-green rounded-lg shadow-xl p-6 sm:p-8">
        <div class="flex flex-col lg:flex-row justify-between items-start gap-4 mb-4">
          <div>
            <h3 class="text-white text-2xl sm:text-3xl font-semibold">Premium</h3>
            <!-- <p class="text-indigo-100">Ebook + Video course</p> -->
          </div>

          <span
            class="
              inline-block
              order-first
              lg:order-none
              bg-indigo-200 bg-opacity-50
              text-white text-xs
              font-semibold
              tracking-wider
              uppercase
              rounded-full
              px-3
              py-1
            "
            >Best value</span
          >
        </div>

        <div class="space-x-2 mb-4">
          <span class="text-white text-4xl font-bold">Rs 300</span>
          <!-- <span class="text-indigo-100 text-2xl line-through">$89</span> -->
        </div>

        <ul class="text-indigo-100 space-y-2 mb-6">
          <!-- feat - start -->
          <li class="flex items-center gap-1.5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5 flex-shrink-0"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd"
              />
            </svg>

            <span>Manage Customers</span>
          </li>
          <!-- feat - end -->

          <!-- feat - start -->
          <li class="flex items-center gap-1.5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5 flex-shrink-0"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd"
              />
            </svg>

            <span>Send Invoice Email</span>
          </li>
          <!-- feat - end -->

          <!-- feat - start -->
          <li class="flex items-center gap-1.5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5 flex-shrink-0"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd"
              />
            </svg>

            <span>Unlimited Invoices and Clients</span>
          </li>
          <!-- feat - end -->

          <!-- feat - start -->
          <li class="flex items-center gap-1.5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5 flex-shrink-0"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd"
              />
            </svg>

            <span>Manage Invoices</span>
          </li>
          <!-- feat - end -->

          <!-- feat - start -->
          <li class="flex items-center gap-1.5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5 flex-shrink-0"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd"
              />
            </svg>

            <span>Premium support</span>
          </li>
          <!-- feat - end -->
        </ul>

        <a
          routerLink="/dashboard"
          class="
            block
            bg-indigo-200 bg-opacity-50
            hover:bg-indigo-300
            active:bg-indigo-400
            focus-visible:ring
            ring-indigo-300
            text-white text-sm
            md:text-base
            font-semibold
            text-center
            rounded-lg
            outline-none
            transition
            duration-100
            px-8
            py-3
          "
          >Get the Premium</a
        >
      </div>
      <!-- right side - end -->
    </div>
  </div>
</div>
