<div class="px-10 py-20 md:px-32">
  <section class="mb-10">
    <h1 class="font-serif text-2xl font-bold text-primary-text mb-6">Privacy Policy</h1>

    <p class="text-secondary-text leading-7 font-normal text-tiny">
      Your privacy is important to us. It is Vajraah's policy to respect your privacy and comply with any applicable law
      and regulation regarding any personal information we may collect about you, including across our
      website, https://billie.digital, and other sites we own and operate.
      <br />
      This policy is effective as of 3 April 2021 and was last updated on 3 April 2021.
    </p>
  </section>

  <section class="mb-10">
    <h1 class="font-serif text-2xl font-bold text-primary-text mb-6">Information We Collect</h1>

    <p class="text-secondary-text leading-7 font-normal text-tiny">
      Information we collect includes both information you knowingly and actively provide us when using or participating
      in any of our services and promotions, and any information automatically sent by your devices in the course of
      accessing our products and services.
    </p>
  </section>

  <section class="mb-10">
    <h1 class="font-serif text-2xl font-bold text-primary-text mb-6">Log Data</h1>

    <p class="text-secondary-text leading-7 font-normal text-tiny">
      When you visit our website, our servers may automatically log the standard data provided by your web browser. It
      may include your device’s Internet Protocol (IP) address, your browser type and version, the pages you visit, the
      time and date of your visit, the time spent on each page, other details about your visit, and technical details
      that occur in conjunction with any errors you may encounter.
    </p>
  </section>

  <section class="mb-10">
    <h1 class="font-serif text-2xl font-bold text-primary-text mb-6">Log Data</h1>

    <p class="text-secondary-text leading-7 font-normal text-tiny">
      When you visit our website, our servers may automatically log the standard data provided by your web browser. It
      may include your device’s Internet Protocol (IP) address, your browser type and version, the pages you visit, the
      time and date of your visit, the time spent on each page, other details about your visit, and technical details
      that occur in conjunction with any errors you may encounter.

      <br />
      Please be aware that while this information may not be personally identifying by itself, it may be possible to
      combine it with other data to personally identify individual persons.
    </p>
  </section>

  <section class="mb-10">
    <h1 class="font-serif text-2xl font-bold text-primary-text mb-6">Personal Information</h1>

    <p class="text-secondary-text leading-7 font-normal text-tiny mb-4">
      We may ask for personal information which may include one or more of the following:
    </p>

    <ul class="font-tiny text-primary-text" style="list-style: disc">
      <li class="mb-2">Name</li>
      <li class="mb-2">Phone/mobile number</li>
      <li class="mb-2">Home/mailing address</li>
    </ul>
  </section>
</div>
